.table__container {
  width: 65vw;
  margin-left: 20vw;
  margin-top: 150px;
}

/* media queries for mobile devices */

@media screen and (max-width: 767px) {
  .table__container {
    max-width: calc(100vw - 4rem);
    margin: auto;
    width: fit-content;
  }
}
