* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: space-around;
}

nav.custom-navbar.navbar.navbar-expand-md.navbar-light.bg-light {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 20vw;
}

.bg-light {
  background-color: #28d6c6 !important;
}

ul.navbar-nav {
  flex-direction: column !important;
  width: 100%;
}

.collapse.navbar-collapse {
  justify-content: center;
  width: 100%;
}

nav a {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

.active-link {
  background-color: black;
  width: 100%;
  color: white;
}

.user-initials {
  background-color: #69c5b8;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: small;
}

.nav-item {
  margin: 1rem 0;
  text-align: center;
}

.navbar {
  padding: 1rem 0;
}

/* media quieries for mobile devices*/

@media screen and (max-width: 767px) {
  .App {
    flex-direction: column;
  }

  nav.custom-navbar.navbar.navbar-expand-md.navbar-light.bg-light {
    position: absolute;
    height: auto;
    width: 100vw;
    top: 0;
    justify-content: flex-end;
  }

  table {
    margin-top: 150px;
  }
}
